{% load static %}
<!-- ======= Hero Section ======= -->
{% for x in about %}
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" style='background-image: url("{{ x.image.url }}"); background-position: top center; height: 695px;'>
  {% endfor %}
  {% for x in hero %}
  <div class="hero-container" data-aos="fade-in">
    <h1>{{x.name}}</h1>
    <p>I'm <span class="typed" data-typed-items="{{x.title}} "></span></p>
  </div>
  {% endfor %}
</section><!-- End Hero -->
