{% extends "base.html" %}
{% block content %}
<body>
    <div class="sidebar d-flex  flex-column justify-content-center gap-4 px-4  " style="position: fixed; left: 0; top: 0; height: 100%; width: 250px; background-color: #040B14ff; padding-top: 20px;">
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#hero">Hero</a>
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#about">About</a>
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#skills">Skills</a>
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#portfolio">Portfolio</a>
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#services">Services</a>
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#testimonials">Testimonials</a>
        <a class='text-decoration-none text-white  ' style='font-size: 21px;' href="#contact">Contact</a>
    </div>

    <div class="content" style="margin-left: 250px; padding: 20px;">
        <!-- Aquí va el contenido principal de tu página -->
        <h1>Bienvenue dans settings</h1>
    </div>
</body>
{% endblock content %}