{% extends "settings.html" %}
{% block secondary_content %}
<section id="services" class="services container">
    <div class="container">
        <div class="section-title">
            <div class="d-flex gap-3">
                <h2>Services</h2>
                <button class="btn btn-success h-25"><a href="{% url "services_create" %}" class='text-decoration-none text-white'>Create</a></button>
            </div>
            <p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
            aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
            quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
            sit in iste officiis commodi quidem hic quas.
        </p>
        </div>
        <div class="row d-flex justify-content-center">
            {% for x in services %}
            <div class="col-lg-4 col-md-6 icon-box mx-2" style='border: 2px solid black; padding:10px;' data-aos="fade-up">
                <div class="icon"><i class="{{x.icon}}"></i></div>
                <h4 class="title"><a href="">{{x.title}}</a></h4>
                <p class="description" style='min-height:100px;'>
                    {{x.description}}
                </p>
                <div class="">
                    <button class="btn btn-primary"><a href="{% url "services_modify" x.id %}" class='text-decoration-none text-white'>Modify</a></button>
                    <button class="btn btn-danger"><a href="{% url "services_delete" x.id %}" class='text-decoration-none text-white'>Delete</a></button>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock secondary_content %}
